//Fonts
@font-face
{
	font-family: 'Open-Sans';
	src: url('../fonts/OpenSans-Regular.ttf');
}

//Colors Block
$purple: #cda1d6;
$violet: #8c8ce0;
$blue: #5597e5;
$green: #90d146;
$yellow: #f6ce26;
$orange: #ef9f48;
$red: #d13333;
$white: #ffffff;

*
{
	font-family: 'Open-Sans', sans-serif !important;
	color: $white;
}

h1
{
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
}

h2
{
	font-size: 24px;
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}

h4
{
	font-size: 18px !important;
	font-weight: 600 !important;
	text-decoration: none !important;
	text-transform: uppercase !important;
}

h5
{
	font-size: 14px !important;
	font-weight: 400 !important;
	text-decoration: none !important;
	text-transform: uppercase !important;
}

.purple
{
	background: $purple;
}
.violet
{
	background: $violet;
}
.blue
{
	background: $blue;
}
.green
{
	background: $green;
}
.yellow
{
	background: $yellow;
}
.orange
{
	background: $orange;
}
.red
{
	background: $red;
}
.white
{
	background: $white;
}

button
{
	text-decoration: none;
	text-transform: uppercase !important;
	color: $white !important;
	font-size: 12px !important;
	text-align: center !important;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.block
{
	display: block;
	width: 100%;
	height: 600px;
}

#go-top-link
{
	position: fixed;
	bottom: 32px;
	right: 32px;
	width: 48px;
	height: 48px;
	z-index: 99;
}

#go-top-link a
{
	display: block;
	width: 100%;
	height: 100%;
	background: $white;
	border-radius: 8px;
}

div#main-header
{
	background-image: url('../images/blurred-background.jpg');
	background-size: cover;
	background-position: center center;
}

nav#main-menu
{
	width: 100%;
	height: 32px;
}

nav#main-menu ul
{
	width: 100%;
	height: 32px;
	line-height: 32px;
	margin: 0 auto;
	padding: 0;
	display: table;
	list-style: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

nav#main-menu ul li
{
	height: 32px;
	display: table-cell;
	text-align: center;
}

nav#main-menu ul li a
{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: $white;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
}

#statistic-block
{
	height: 32px !important;
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
}

#statistic-block p
{
	font-size: 14px;
	line-height: 32px;
	color: $white;
	text-transform: uppercase !important;
}

#login-block
{
	margin-top: 32px;
}

#header-logo
{
	height: 240px;
	margin-top: 45px;
}

#header-logo a
{
	display: block;
}

#header-logo a img
{
	display: block;
	margin: 0 auto;
}

#signup-buttons
{
	width: 98%;
	margin: 32px auto 0 auto;
	text-align: center;
}

#signup-buttons span
{
	padding: 0 0.5em;
}

#about
{
	background-image: url('../images/kittens.png');
	background-position: right bottom;
	background-size: cover;
}

#price
{
	background-image: url('../images/price-background.png');
	background-position: center center;
	background-size: cover;
}

#residents
{
	background-image: url('../images/residents-background.png');
	background-position: center bottom;
	background-size: cover;
}
#residents-list
{
	list-style: none;
	display: table;
	margin: 30px auto 0 auto;
}

#residents-list li
{
	display: table-cell;
	padding-left: 30px !important;
	padding-right: 30px !important;
}

.resident-avatar
{
	border: 3px solid $white;
	width: 200px;
	height: 200px;
}

#events
{
	background: $green;
}

#events-list
{
	list-style: none;
	display: table;
}

#events-list li
{
	display: table-cell;
	padding-left: 20px !important;
	padding-right: 20px !important;
}

#events-list li img
{
	width: 300px;
	height: 300px;
	background: $red;
	overflow: hidden;
	border: 2px solid $white;
}

#events-list li p
{
	margin: 0 auto 4px auto !important;
	text-transform: uppercase !important;
}

#events-list li button
{
	width: 200px !important;
	margin: 12px auto 0px auto !important;
}

#partners
{
	background-image: url('../images/partners-background.png');
	background-position: right bottom;
	background-size: cover;
}

#gamedev
{
	background-image: url('../images/gamedevelopment-background.png');
	background-position: center bottom;
	background-size: cover;
}

#contacts
{
	background-image: url('../images/contacts-background.png');
	background-position: left bottom;
	background-size: cover;
}

#social-icons-list
{
	display: table;
}

#social-icons-list li
{
	display: table-cell;	
}

#social-icons-list li a
{
	display: block;
	width: 50px;
	height: 50px;
	background: url('../images/social-icons.png');
	background-size: 150px 50px;
	margin-right: 20px !important;
}

#vk
{
	background-position: 0px 0px !important;
}

#ins
{
	background-position: -50px 0px !important;
}

#yt
{
	background-position: -100px 0px !important;
}

#copyright
{
	width: 100%;
	height: 32px;
	background: rgba(0,0,0,0.5);
}

//Login Window
.modal-dialog
{
	margin-top: 128px !important;
}

#registerModal .modal-content,
#loginModal .modal-content
{
	background: rgba(0,0,0,0.75) !important;
}

#registerModal .modal-content input,
#loginModal .modal-content input
{
	margin-bottom: 8px !important;
	background: rgba(1,1,1,0.5);
	color: $white !important;
}