<!DOCTYPE html>
<html lang="ru" ng-app="devhubApp">
	<head>
		<base href="/" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
		
		<script src="node_modules/angular/angular.min.js"></script>
		<script src="node_modules/angular-route/angular-route.min.js"></script>
		<script src="node_modules/angular-cookies/angular-cookies.min.js"></script>
		
		<script src="js/devhubApplication.js"></script>
		
	</head>
	<body>
		<div id="registerModal" class="modal fade" role="dialog" ng-controller="registrationController">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h5 class="modal-title">Регистрация пользователя</h5>
					</div>
					<div class="modal-body">
						<p>Введите данные для создания нового пользователя!</p>
						<form class="form-horizontal" name="registerForm">
							<input class="form-control" type="text" placeholder="Имя пользователя" ng-model="user.firtsName">
							<input class="form-control" type="text" placeholder="Фамилия пользователя" ng-model="user.lastName">
							<label class="radio-inline">Ваш пол:</label>
							<label class="radio-inline">
								<input type="radio" name="maleRadioOptions" id="maleRadio" value="1" ng-model="user.gender"> М
							</label>
							<label class="radio-inline">
								<input type="radio" name="femaleRadioOptions" id="femaleRadio" value="0" ng-model="user.gender"> Ж
							</label>
							<input class="form-control" type="email" placeholder="E-mail" ng-model="user.email">
							<input class="form-control" type="password" placeholder="Пароль" ng-model="user.password">
							<input class="form-control" type="password" placeholder="Повтор Пароля">
							<input class="form-control" type="tel" placeholder="Мобильный телефон" ng-model="user.mobile">
							
							<div class="checkbox">
						        <label>
						          <input type="checkbox" ng-model="user.isStudent"> Вы студент?
						        </label>
						    </div>
						</form>
						<div ng-switch on="serverAnswer">
							<p id="status-message" ng-switch-when="-1">Сообщение сервера о регистрации пользователя</p>
							<p id="status-message" ng-switch-when="0">Регистрация прошла успешно</p>
							<p id="status-message" ng-switch-when="1">Ошибка. Пользователь с таким E-mail уже есть в базе.</p>
							<p id="status-message" ng-switch-when="2">Ошибка. Пользователь с таким номером телефона уже есть в базе.</p>
							<p id="status-message" ng-switch-when="3">Ошибка. Пользователь с такими E-mail и номером телефона уже есть в базе.</p>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn blue" ng-click="RegisterNewUser()">зарегистрироваться</button>
					</div>
				</div>
			</div>
		</div>
			
		<div id="loginModal" class="modal fade" role="dialog" ng-controller="loginController">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h5 class="modal-title">Авторизация пользователя</h5>
					</div>
					<div class="modal-body">
						<p>Авторизируйтесь используя свой E-mail и пароль!</p>
						<form action="/" class="form-horizontal" name="loginForm">
							<input class="form-control" type="email" placeholder="E-mail" ng-model="user.email">
							<input class="form-control" type="password" placeholder="Пароль" ng-model="user.password">
						</form>
						<p id="status-message" ng-show="authorizationFailed">Ошибка авторизации, проверьте данные!</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn blue" ng-click="authentificateUser()">войти</button>
					</div>
				</div>
			</div>
		</div>
		
		<nav id="main-menu">
			<ul>
				<li class="purple"><a href="#about">О нас</a></li>
				<li class="violet"><a href="#price">цены</a></li>
				<li class="blue"><a href="#residents">резиденты</a></li>
				<li class="green"><a href="#events">события</a></li>
				<li class="yellow"><a href="#partners">партнеры</a></li>
				<li class="orange"><a href="#gamedev">game dev</a></li>
				<li class="red"><a href="#contacts">контакты</a></li>
			</ul>
		</nav>
		
		<div id="main-header" class="block">			
			
			<div id="statistic-block" class="col-lg-12">
				<p>сейчас свободно: <b>5</b> студенческих мест, <b>6</b> для фрилансеров и <b>10</b> для командной работы</p>
			</div>
			
			<div class="container-fluid">
				<div id="login-block" class="col-lg-offset-10 col-lg-2" ng-controller="logoutContoller">
					<div ng-if="user == null">
						<button class="btn red" data-toggle="modal" data-target="#registerModal">регистрация</button>
						<button class="btn red" data-toggle="modal" data-target="#loginModal">войти</button>
					</div>
					<div ng-if="user != null">
						<button class="btn red" data-toggle="modal" ng-click="Dashboard()">Dashboard</button>
						<button class="btn red" data-toggle="modal" ng-click="Logout()">выйти</button>
					</div>					
				</div>
			</div>
			
			<div class="container-fluid">
				<div id="header-logo" class="col-lg-offset-4 col-lg-4">
					<a href="#">
						<img src="images/header-logo.png">
					</a>
				</div>
			</div>
			
			<div class="container-fluid">
				<div>
					<h1 class="text-center">мы работаем для вас без выходных с 09:00 до 20:00</h1>
				</div>
			</div>
			
			<div class="container-fluid">
				<div id="signup-buttons">
					<span><button class="btn green">тестовый день</button></span>
					<span><button class="btn blue">запись онлайн</button></span>
				</div>
			</div>
			
		</div>
		
		<div id="about" class="container-fluid block">
			<h2 class="text-center text-uppercase">О нас</h2>
			<div class="row">
				<div class="col-lg-6 text-justify">
					<p>В наше время с каждым днем все больше и больше специалистов из IT сферы переходит из работы в офисе с фиксированным графиком в плоскость свободно конфигурируемого графика и места работы. И это единственный вариант продуктивного и эффективного исполнения своих проектов и задач.</p>
				
				<p>Однако не всегда есть возможность поработать дома. Ремонт соседей, маленький ребенок, шум дорожных работ, отсутствие интернета либо низкая скорость канала и прочие жизненные факторы могут  стать серьезными генераторами стресса, что в свою очередь, весьма негативно отразится на качестве и скорости вашей работы. Выходом из такой ситуации может стать антикафе, или же так называемые ко-воркинги. Однако не все эти места являются панацеей. Креативное пространство #devhub. Создано именно для решения подобных жизненных ситуаций. Это место созданное и обустроенное специалистами для специалистов. мы ценим и ставим ваш комфорт и эффективность работы превыше всего.</p>
				
				<p>Однако и это еще не все. Так как наше креативное пространство – это не просто аналог офиса. Это прежде всего и пространство для обмена идеями и общения разных специалистов из IT сферы. Это обмен опытом и совместная реализация новых идей и проектов. #devhub – это мощный движущий фактор, который объединяет творческих и мыслящих людей способных на достижение по-истине удивительных результатов.</p>

				<p>Становясь частичкой креативного пространства #devhub сегодня – вы совершаете потенциальный вклад в развитие IT индустрии нашего города и страны в целом. Присоединяйтесь к нам и кто знает, возможно вы встретите здесь единомышленников которые помогут вам воплотить следующее приложение, которое войдет в TOP AppStore и Google Market ?!</p>
				</div>
				
				<div class="col-lg-6">
					<h3 class="text-left text-uppercase">Наши преимущества:</h3>
					<ul>
						<li>Удобная локация в центре города</li>
						<li>Опыт и качество киевских ко-воркингов по цене доступной для Николаева</li>
						<li>Ваш комфорт и время – превыше всего</li>
						<li>Высокоскоростной интернет и роутеры Apple Airport Express</li>
						<li>Кофе, чай, печеньки и прочие вкусности</li>
						<li>Удобная переговорная комната для скайп-конференций</li>
						<li>Постоянные лекции и обучающие материалы</li>
						<li>Разнообразные бонусные программы для студентов вузов и резидентов</li>
						<li>Социальные проекты для благоустройства городской среды и сферы услуг</li>
						<li>Творческие вечера и уникальные мероприятия для досуга</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div id="price" class="container-fluid block">
			<h2 class="text-center text-uppercase">цены</h2>
			<h2 class="text-center text-uppercase">Не волнуйтесь. Все в порядке!<br>ничего не сломалось, просто цены появятся сразу после нашего открытия!</h2>
		</div>
		
		<div id="residents" class="container-fluid block">
			<h2 class="text-center text-uppercase">наши резиденты</h2>
			<div class="col-lg-12">
				<p>Резиденты – это костяк нашего креативного пространства. Это те люди, без которых функционирование <b>#devhub</b> в том виде как сейчас было бы просто невозможно! Однако все наше пространство постоянно расширяется подобно нашей вселенной. Поэтому резидентом можешь стать и ты! Для того что бы стать резидентом <b>#devhub</b> – необходимо купить месячный абонемент. При этом, вместе со статусом резидента открывается совершенно новый круг возможностей! Постоянная помощь и поддержка в реализации проектов, подбор кандидатов на ключевые позиции проекта. Консультация по вопросам ведения СПД. Помощь в планировании командировок и поездок, вплоть до бронирования гостиниц, отелей и билетов на все виды транспорта. Помощь в размещение ваших партнеров, прибывших в город для переговоров! Заказ и доставка еды прямо в <b>#devhub</b> из любой ресторации города. А также множество других приятных мелочей!</p>
			</div>
			<div class="col-lg-12 text-center">
				<button class="btn orange">хочу стать резидентом</button>
			</div>
			<div class="col-lg-12">
				<ul id="residents-list">
					<li class="text-center">
						<img class="img-circle resident-avatar" src="images/residents/chechui-serhii.jpg" title="" alt="chechui-serhii">
						<h4>чечуй сергей</h4>
						<h5>Technical Artist</h5>
					</li>
					
					<li class="text-center">
						<img class="img-circle resident-avatar" src="images/residents/dmitry-martynov.jpg" title="" alt="dmitry-martynov">
						<h4>дмитрий мартынов</h4>
						<h5>CTO / Senior Unity Dev</h5>
					</li>
					
					<li class="text-center">
						<img class="img-circle resident-avatar" src="images/residents/marchuk-viktor.jpg" title="" alt="marchuk-viktor">
						<h4>виктор марчук</h4>
						<h5>Unity Developer</h5>
					</li>
				</ul>
			</div>
		</div>
		
		<div id="events" class="container-fluid block">
			<h2 class="text-center text-uppercase">ближайшие события</h2>
			
			<div class="col-lg-12">
				<ul id="events-list">
					<li class="text-left">
						<img class="event-thumbnail" src="images/events/solid-event.jpg" title="" alt="SOLID PRINCIPLES">
						<h4 class="text-left">S.O.L.I.D. PRINCIPLES in Unity</h4>
						<p><b>Дата и Время:</b>&nbsp;12 Июня 2016, 19:00</p>
						<p><b>Длительность:</b>&nbsp;1 час 45 минут</p>
						<p><b>докладчик:</b>&nbsp;дмитрий мартынов</p>
						<p><b>загеристрировались:</b>&nbsp;0 человек</p>
						<button class="btn orange">хочу пойти</button>
					</li>
					
					<li class="text-left">
						<img class="event-thumbnail" src="images/events/pbr-event.jpg" title="" alt="PBR event thumbnail">
						<h4 class="text-left">pbs for game dev assets</h4>
						<p><b>Дата и Время:</b>&nbsp;19 Июня 2016, 19:00</p>
						<p><b>Длительность:</b>&nbsp;1 час 45 минут</p>
						<p><b>докладчик:</b>&nbsp;чечуй сергей</p>
						<p><b>загеристрировались:</b>&nbsp;0 человек</p>
						<button class="btn orange">хочу пойти</button>
					</li>
				</ul>
			</div>
		</div>
		
		<div id="partners" class="container-fluid block">
			<h2 class="text-center text-uppercase">наши партнеры</h2>
			<div class="col-lg-6">
				<p>Креативное пространство <b>#devhub</b> приглашает к активному сотрудничеству всех желающих! Будем рады рассмотреть любые предложения. Заведения общественного питания, службы такси. Школы и ВУЗы. IT компании и предприятия работающие в сфере обслуживания. Рекламные агентства и муниципальные ведомства!<br>Давайте сделаем жизнь в Николаеве лучше!</p>
			</div>
			<div class="col-lg-6"></div>
		</div>
		
		<div id="gamedev" class="container-fluid block">
			<h2 class="text-center text-uppercase">Game Development</h2>
			<div class="col-lg-6 text-center">
				<img src="images/terminal.png" title="Terminal" alt="Terminal">
			</div>
			<div class="col-lg-6">
				<p>Наша команда безусловно любит играть в хорошие игры. Но! Еще больше мы любим игры разрабатывать! Мало что может сравнится с ощущением, когда буквально от соприкосновений с кавиатурой ты населяешь новой жизнь целые виртуальные миры. Застраиваешь их объектами, учишь думать...</p>
</p>Однако держать в голове некую идею, или ряд образов – это одно, а вот реализовать все свои задумки это совершенно другое. Иногда не хватает знаний, иногда опыта, иногда людей. Во всех этих ситуациях креативное пространство <b>#devhub</b> готово прийти вам на помощь! Переодически мы будем проводить соревнования по разработке игр, где каждый желающий сможет попробовать себя в этом нелегком но безумно увлекательном занятии.</p>
<p>А жюри из профессионалов игровой индкстрии сможет оценить реализацию ваших идей, возможно даже дав проекту “зеленый свет” в дальнейшем.</p>
<p>Ну и не забывай, что <b>#devhub</b> – это отличное место по поиску новых друзей и единомышленников. А пробелы в технических знаниях и опыте помогут восполнить наши резиденты, регулярно проводящие лекции.</p>
			</div>
		</div>
		
		<div id="contacts" class="container-fluid block">
			<h2 class="text-center text-uppercase">Контакты</h2>
			<div class="col-lg-6 text-left">
				<b>Адрес:</b><br>
				54058,<br>
				Украина,<br>
				г. Николаев,<br>
				<br><br>
				<b>Телефон:</b><br>
				+38(095)602-72-47<br><br>
				<b>E-mail:</b><br>
				<a href="mailto:ghost201087@gmail.com">ghost201087@gmail.com</a><br><br>
				<b>Время работы:</b><br>
				Без выходных с 09:00 - 20:00<br><br>
				<b>Социальные сети:</b><br><br>
				<ul id="social-icons-list" class="text-left">
					<li><a id="vk" href="http://vk.com"></a></li>
					<li><a id="ins" href="http://instagram.com"></a></li>
					<li><a id="yt" href="http://yt.com"></a></li>
				</ul>
			</div>
			<div class="col-lg-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d174365.5002407662!2d31.867915074755697!3d46.93297907350031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c5cb89fb7213d5%3A0x970e39fab9e05680!2z0J3QuNC60L7Qu9Cw0LXQsiwg0J3QuNC60L7Qu9Cw0LXQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGM!5e0!3m2!1sru!2sua!4v1462841547049" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
		
		<div id="copyright">
			<p class="text-center text-uppercase">WTFGAMES © 2016</p>
		</div>
		
		<div id="go-top-link">
			<a href="#"></a>
		</div>
		
		<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>